Imports needed packages

In [1]:
from fastai.collab import *
from fastai.tabular.all import *

Creates Class for DotProductBias and T

In [35]:
class DotProductBias(Module):
    def __init__(self, n_users, n_movies, n_factors, y_range=(0,5.5)):
        self.user_factors = create_params([n_users, n_factors])
        self.user_bias = create_params([n_users])
        self.movie_factors = create_params([n_movies, n_factors])
        self.movie_bias = create_params([n_movies])
        self.y_range = y_range
        
    def forward(self, x):
        users = self.user_factors[x[:,0]]
        movies = self.movie_factors[x[:,1]]
        res = (users*movies).sum(dim=1)
        res += self.user_bias[x[:,0]] + self.movie_bias[x[:,1]]
        return sigmoid_range(res, *self.y_range)
    
class T(Module):
    def __init__(self): self.a = nn.Parameter(torch.ones(3))
    def __init__(self): self.a = nn.Linear(1,3, bias=False)

Reads data from ratings.csv into "ratings" object

In [2]:
ratings = pd.read_csv(r"C:\Users\dfent\Desktop\ml-25m\ratings.csv", delimiter=',', header=0)

Reads data from movies.csv into "movies" object

In [3]:
movies = pd.read_csv(r"C:\Users\dfent\Desktop\ml-25m\movies.csv", delimiter=',', header=0)

Combines movies and ratings objects on movie id

In [4]:
ratings = ratings.merge(movies)

In [5]:
ratings.head()

,userId,movieId,rating,timestamp,title,genres
0,1,296,5.0,1147880044,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller
1,3,296,5.0,1439474476,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller
2,4,296,4.0,1573938898,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller
3,5,296,4.0,830786155,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller
4,7,296,4.0,835444730,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller

Creates dataloader from ratings object

In [6]:
dls = CollabDataLoaders.from_df(ratings, item_name='title', bs=400)
dls.show_batch()

Train Model

In [ ]:
learn = collab_learner(dls, n_factors=50, y_range=(0, 5.5))
learn.fit_one_cycle(5, 5e-3, wd=0.1)

In [ ]:
learn.model